<!DOCTYPE html>
<html ng-app="plunker">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="ccs/index.css" type="text/css">
        <link rel="stylesheet" href="css/table.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        </head>
	<body ng-controller="chartcontroller">
        {{ val }}
        <canvas id="myChart" width="5" height="1"></canvas>
        
        {{a}}

    <script src="js/chart.min.js"></script>
	
	

    </body >

	
</html>



	