<!DOCTYPE html>
<html>

	<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="ccs/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-controller="percentcontroller">
        <h2>{{val}}</h2>

		<!-- https://www.calculator.net/percent-calculator.html -->
		<table>
			<tr>
				<td><input type="number" ng-model="amt1">% of <input type="number" ng-model="amt2"> = 
					{{percentOne.amt1}}
					{{percentOne.amt2}}
					<div>Answer </div> 
					<button class="button" ng-click="perOne()"><span>Calculate</span></button>
				</td>
			</tr>
			<tr>
				<td>
					<input type="number"> is what % of <input type="number">
					<div> Answer </div> 
					 <button class="button"><span>Calculate</span></button>
				</td>
			</tr>
			<tr>
				<td>
					<input type="number"> is <input type="number">% of what 
					<div> Answer </div>
					<button class="button" ><span>Calculate</span></button>
				</td>
			</tr>
			<tr>
				<td>
					{{ result }}
				</td>
			</tr>
		</table>
	</body >
	
</html>


