
	<div ng-controller="percentcontroller">
        <h2>{{val}}</h2>

		<!-- https://www.calculator.net/percent-calculator.html -->
		<table border="2px">
			<tr>
				<td>
					<input type="number" ng-model="amt1">% of  <input type="number" ng-model="amt2"> 
				</td>
				<td>
					= {{result.data}}
				</td>
				<td>
					<button class="button" ng-click="percOne()"><span>Calculate</span></button>
				</td>
			</tr>
			<tr>
				<td>
					<input type="number" ng-model="a1"> is what % of <input type="number" ng-model="a2">
				</td>
				<td>
					 = {{res.data}}
				</td>
				<td>
					<button class="button" ng-click="perTwo()"><span>Calculate</span></button>
				</td>
			</tr>
			<tr>
				<td>
					<input type="number" ng-model="p1"> is <input type="number" ng-model="p2">% of what
				</td>
				<td>
					= {{rs.data}}
				</td>
				<td>
					<button class="button" ng-click="perThree()"><span>Calculate</span></button>
				</td>
			</tr>
			<tr>
				<td>
				</td>
			</tr>
		</table>
	</div >
	


