<!DOCTYPE html>
<html ng-app="plunker">

	<head>
	<meta charset="UTF-8">
	<!-- <script>document.write('<base href="' + document.location + '" />');</script>  -->
	
	<script src="js/angular.js"></script>
	<script src="js/angular-ui-router.min.js"></script>


	<script src="js/app.js"></script>
	<script src="js/route.js"></script>


	<script src="controllers/mainController.js"></script>
	<script src="controllers/percentageController.js"></script>
	<script src="controllers/timeController.js"></script> 
	<script src="controllers/mycpuController.js"></script> 
	<script src="controllers/modules/eventmodule.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<link rel="stylesheet" type="text/css" href="css/index.css">

	<!-- test -->
	</head>
	<body ng-controller="Mainctrl">

		<h1>Akka Http Application</h1>
		<div class="topnav">
			<h3><a ui-sref="timecal">Time</a></h3>
			<h3><a ui-sref="percal">Percentage</a></h3>
			<h3><a ui-sref="cpucal">CPU</a></h3>
		</div>
		
		<div ui-view></div>


		<!--  <div ng-controller="testController">
		<h2>Service</h2>
0
		<button ng-click="getRequest()">Hi</button>
		{{ home }}
		<h2>{{response.data}}</h2>

		Enter Item Name: <input ng-model="item.name">
		name = {{ item.name }}
		<br>
		<button ng-click="postRequest()">hello.</button>

		<button ng-click="getItem()">getItems</button>
		{{ response.data}}
		<script src="script.js"></script> 
		</div>  -->
		<!-- https://www.w3schools.com/angular/ng_ng-app.asp --> 
	
	</body >

	
</html>



	